<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

    <link href="css/default.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    
    <!--[if lt IE 9]>
      <script src="js/bootstrap/html5shiv.min.js"></script>
      <script src="js/bootstrap/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="FilesController">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle show pull-left" data-target="sidebar">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Bootstrap</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="top1.html">top1.html</a></li>
                    <li><a href="top2.html">top2.html</a></li>
                    <li><a href="top3.html">top3.html</a></li>
                    <li><a href="https://github.com/shihao316558512/bootstrap" target="_blank"><i class="fa fa-download fa-fw"></i>&nbsp;原码下载</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><i class="fa fa-user fa-fw"></i>&nbsp;小王&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="top-right1.html">top-right1.html</a></li>
                            <li class="divider"></li>
                            <li><a href="top-right2.html">top-right2.html</a></li>
                            <li class="divider"></li>
                            <li><a href="top-right3.html"><i class="fa fa-sign-out fa-fw"></i>&nbsp;top-right3.html</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid all" >
        <div class="sidebar">
            <ul class="nav ">
                <li class="active"><a ng-click="doSomething('back.php?category=1')" >Legislators</a></li>
                <li><a  >Bills</a></li>
                <li><a href="message.html">Committees</a></li>
                <li><a href="ui.html">Favorites</a></li>
            </ul>
        </div>
        <div class="maincontent" ng-hide="flag" class="jumbotron">
		<h2>Legislators</h2>
		<div class="thumbnail">
			<div id="myCarousel" class="carousel slide">
				<div class="carousel-inner">
					<div class="item active">
						<ul id="myTab" class="nav nav-tabs">
							<li class="active"><a href="#state" data-toggle="tab" ng-click="doSomething('back.php?category=1')">
								By State</a>
							</li>
							<li><a href="#house" data-toggle="tab" ng-click="doSomething('back.php?category=house')">House</a></li>
							<li><a href="#senate" data-toggle="tab" ng-click="doSomething('back.php?category=senate')">Senate</a></li>
							<li class="dropdown">
								<a href="#" id="myTabDrop1" class="dropdown-toggle" 
								   data-toggle="dropdown">Java <b class="caret"></b>
								</a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
									<li><a href="#jmeter" tabindex="-1" data-toggle="tab">
										jmeter</a>
									</li>
									<li><a href="#ejb" tabindex="-1" data-toggle="tab">
										ejb</a>
									</li>
								</ul>
							</li>
						</ul>
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade in active" id="state">
                                <div class="panel panel-default" style="margin:10px;">
                                    <div class="panel-heading" style="height:60px;">
                                        <div class="col-md-6">Legislators by State
                                        </div>
                                        <div class="col-md-6 text-right" style="text-align:right" >
                                            <select class="form-control" style="margin-left:60%;width:30%;" ng-model="state" ng-click="doSomething('back.php?category='+state)">
                                                <option value="Mississippi">1</option>
                                                <option value="Illinois">2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table">
                                            <tr>
                                                <th>Party</th>
                                                <th>Name</th>
                                                <th>Chamber</th>
                                                <th>District</th>
                                                <th>State</th>
                                                <th>View Details</th>
                                            </tr>
                                            <tr ng-repeat="x in items">
                                                <td ng-if="x.party == 'D'"><img src="http://cs-server.usc.edu:45678/hw/hw8/images/d.png" class="img-responsive" style="width:20px;height:auto"></td>
                                                <td ng-if="x.party == 'R'"><img src="http://cs-server.usc.edu:45678/hw/hw8/images/r.png" class="img-responsive" style="width:20px;height:auto"></td>
                                                <td ng-if="x.party != 'D'&& x.party != 'R'" ng-bind="x.party"></td>
                                                <td >{{ x.last_name }},{{ x.first_name }}</td>
                                                <td ng-bind="x.chamber"></td>
                                                <td ng-if="!x.district">N.A</td>
                                                <td ng-if="x.district">{{x.district}}</td>
                                                <td ng-bind="x.state"></td>
                                                <td ><a href="#myCarousel"  data-slide="next" ng-click="detail_part1('back.php?detail=1&bioguide_id='+x.bioguide_id)" >dfdaffaf</a></td>
                                            </tr>
                                        </table>
                                        <nav>
                                            <ul class="pagination">
                                                <li>
                                                <a ng-click="Previous()">
                                                    <span>上一页</span>
                                                </a>
                                                </li>
                                                <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
                                                <a ng-click="selectPage(page)" >{{ page }}</a>
                                                </li>
                                                <li>
                                                <a ng-click="Next()">
                                                    <span>下一页</span>
                                                </a>
                                                </li>
                                            </ul>
                                        </nav>					
                                    </div>
					

                                </div>

							</div>
							<div class="tab-pane fade" id="house">
								<div class="panel panel-default" style="margin:10px;">
                                    <div class="panel-heading" style="height:60px;">
                                        <div class="col-md-6">Legislators by House
                                        </div>
                                        <div class="col-md-6 text-right" style="text-align:right" >

                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table">
                                            <tr>
                                                <th>Party</th>
                                                <th>Name</th>
                                                <th>Chamber</th>
                                                <th>District</th>
                                                <th>State</th>
                                                <th>View Details</th>
                                            </tr>
                                            <tr ng-repeat="x in items">
                                                <td ng-if="x.party == 'D'"><img src="http://cs-server.usc.edu:45678/hw/hw8/images/d.png" class="img-responsive" style="width:20px;height:auto"></td>
                                                <td ng-if="x.party == 'R'"><img src="http://cs-server.usc.edu:45678/hw/hw8/images/r.png" class="img-responsive" style="width:20px;height:auto"></td>
                                                <td ng-if="x.party != 'D'&& x.party != 'R'" ng-bind="x.party"></td>
                                                <td >{{ x.last_name }},{{ x.first_name }}</td>
                                                <td ng-bind="x.chamber"></td>
                                                <td ng-if="!x.district">N.A</td>
                                                <td ng-if="x.district">{{x.district}}</td>
                                                <td ng-bind="x.state"></td>
                                                <td ><a href="#myCarousel"  data-slide="next" ng-click="detail_part1('back.php?detail=1&bioguide_id='+x.bioguide_id)" >dfdaffaf</a></td>
                                            </tr>
                                        </table>
                                        <nav>
                                            <ul class="pagination">
                                                <li>
                                                <a ng-click="Previous()">
                                                    <span>上一页</span>
                                                </a>
                                                </li>
                                                <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
                                                <a ng-click="selectPage(page)" >{{ page }}</a>
                                                </li>
                                                <li>
                                                <a ng-click="Next()">
                                                    <span>下一页</span>
                                                </a>
                                                </li>
                                            </ul>
                                        </nav>					
                                    </div>
					

                                </div>
							</div>
							<div class="tab-pane fade" id="senate">
								<div class="panel panel-default" style="margin:10px;">
                                    <div class="panel-heading" style="height:60px;">
                                        <div class="col-md-6">Legislators by House
                                        </div>
                                        <div class="col-md-6 text-right" style="text-align:right" >

                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table">
                                            <tr>
                                                <th>Party</th>
                                                <th>Name</th>
                                                <th>Chamber</th>
                                                <th>District</th>
                                                <th>State</th>
                                                <th>View Details</th>
                                            </tr>
                                            <tr ng-repeat="x in items">
                                                <td ng-if="x.party == 'D'"><img src="http://cs-server.usc.edu:45678/hw/hw8/images/d.png" class="img-responsive" style="width:20px;height:auto"></td>
                                                <td ng-if="x.party == 'R'"><img src="http://cs-server.usc.edu:45678/hw/hw8/images/r.png" class="img-responsive" style="width:20px;height:auto"></td>
                                                <td ng-if="x.party != 'D'&& x.party != 'R'"></td>
                                                <td >{{ x.last_name }},{{ x.first_name }}</td>
                                                <td ng-bind="x.chamber"></td>
                                                <td ng-if="!x.district">N.A</td>
                                                <td ng-if="x.district">{{x.district}}</td>
                                                <td ng-bind="x.state"></td>
                                                <td ><a href="#myCarousel"  data-slide="next" ng-click="detail_part1('back.php?detail=1&bioguide_id='+x.bioguide_id)" >dfdaffaf</a></td>
                                            </tr>
                                        </table>
                                        <nav>
                                            <ul class="pagination">
                                                <li>
                                                <a ng-click="Previous()">
                                                    <span>上一页</span>
                                                </a>
                                                </li>
                                                <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
                                                <a ng-click="selectPage(page)" >{{ page }}</a>
                                                </li>
                                                <li>
                                                <a ng-click="Next()">
                                                    <span>下一页</span>
                                                </a>
                                                </li>
                                            </ul>
                                        </nav>					
                                    </div>
					

                                </div>
                                
                                
                                
                                
                                
							</div>
						</div>
					</div>
					<div class="item">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel panel-default"  >
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a  href="#myCarousel" data-slide="prev" class="btn" style="background-color:white;border-color: #ccc;margin:3px;color:black">
                                                    <span class="glyphicon glyphicon-chevron-left"></span> 
                                                </a>
                                                Details
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <a  class="btn" style="background-color:white;border-color: #ccc;margin:3px;color:black;">
                                                  <span class="glyphicon glyphicon-star-empty"></span> 
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                            <table class="table table-condensed">
                                                                <tr >
                                                                    <td class="text-center" rowspan="5" colspan="2" width="50%">
                                                                        <img src="https://theunitedstates.io/images/congress/225x275/{{data_detail1[0].bioguide_id}}.jpg">
                                                                    </td>
                                                                    <td width="50%">
                                                                        {{ data_detail1[0].title }},{{ data_detail1[0].last_name }},{{ data_detail1[0].first_name }}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <a href="http://{{data_detail1[0].oc_email}}" target="_blank">{{data_detail1[0].oc_email}}</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        Chamber: {{ data_detail1[0].chamber }}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td ng-if="data_detail1[0].party == 'D'"><ul class="list-inline"><li><img src="http://cs-server.usc.edu:45678/hw/hw8/images/d.png" class="img-responsive" style="width:20px;height:auto"></li><li>Democratic</li></ul></td>
                                                                    <td ng-if="data_detail1[0].party == 'R'"><ul class="list-inline"><li><img src="http://cs-server.usc.edu:45678/hw/hw8/images/r.png" class="img-responsive" style="width:20px;height:auto"></li><li>Republican</li></ul></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        Contact: {{ data_detail1[0].phone }}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="25%">
                                                                        Start Term
                                                                    </td>
                                                                    <td colspan="2">
                                                                        {{ data_detail1[0].term_start }}
                                                                    </td>

                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        End Term
                                                                    </td>
                                                                    <td colspan="2">
                                                                        {{ data_detail1[0].term_end }}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        Term
                                                                    </td>
                                                                    <td colspan="2">
                                                                        <div class="progress">
                                                                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{data_detail1[0].term }}%">
                                                                               {{data_detail1[0].term}}% 
                                                                          </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        Office
                                                                    </td>
                                                                    <td colspan="2">
                                                                        {{data_detail1[0].office}}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        State
                                                                    </td>
                                                                    <td colspan="2">
                                                                        {{data_detail1[0].state_name}}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        Fax
                                                                    </td>
                                                                    <td colspan="2">
                                                                        {{data_detail1[0].fax}}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        Birthday
                                                                    </td>
                                                                    <td colspan="2">
                                                                        {{data_detail1[0].birthday}}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        Social Links
                                                                    </td>
                                                                    <td colspan="2">
                                                                        <ul class="list-inline">
                                                                            <li><a href="https://www.facebook.com/{{data_detail1[0].facebook_id}}" target="_blank"><img src="http://cs-server.usc.edu:45678/hw/hw8/images/f.png" style="width:30px;height:auto"/></a></li>
                                                                            <li><a href="https://www.twitter.com/{{data_detail1[0].twitter_id}}" target="_blank"><img src="http://cs-server.usc.edu:45678/hw/hw8/images/t.png" style="width:30px;height:auto"/></a></li>
                                                                            <li ng-if="data_detail1[0].contact_form"><a href="{{data_detail1[0].contact_form}}" target="_blank"><img src="http://cs-server.usc.edu:45678/hw/hw8/images/w.png" style="width:30px;height:auto"/></a></li>
                                                                        </ul>
                                                                    </td>
                                                                </tr>

                                                            </table>
                                                </div>
                                                <div class="col-md-6">
                                                    <h4>Committees</h4>
                                                    <table class="table">
                                                        <tr >
                                                            <td width="25%">
                                                                Chamber
                                                            </td>
                                                            <td width="25%">
                                                                Committee ID
                                                            </td>
                                                            <td width="50%">
                                                                Name
                                                            </td>

                                                        </tr>
                                                        <tr ng-repeat="x in data_detail1[0].committee">
                                                            <td ng-bind="x.chamber" width="25%"></td>
                                                            <td ng-bind="x.committee_id" width="25%"></td>
                                                            <td ng-bind="x.name" width="25%"></td>
                                                        </tr>
                                                     
                                                    </table>
                                                    <h4>Bills</h4>
                                                    <table class="table table-condensed">
                                                        <tr>
                                                            <td width="15%">
                                                                Bill ID
                                                            </td>
                                                            <td width="35%">
                                                                Title
                                                            </td>
                                                            <td width="15%">
                                                                Chamber
                                                            </td>
                                                            <td width="15%">
                                                                Bill Type
                                                            </td>
                                                            <td width="15%">
                                                                Congress
                                                            </td>
                                                            <td width="15%">
                                                                Link
                                                            </td>
                                                        </tr>
                                                        <tr ng-repeat="x in data_detail1[0].bills">
                                                            <td ng-bind="x.bill_id" width="15%"></td>
                                                            <td ng-bind="x.official_title" width="35%"></td>
                                                            <td ng-bind="x.chamber" width="25%"></td>
                                                            <td ng-bind="x.bill_type" width="25%"></td>
                                                            <td ng-bind="x.congress" width="25%"></td>
                                                            <td width="25%"><a href="{{x.pdf}}" target="_blank">Link</a></td>
                                                        </tr>                                                        
                                                    </table>

                                                </div>

                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        
                        
                        
                        
					</div>
				</div>
			</div>
		</div>	
    </div>
<script>

    (function() {

        var app = angular.module('myApp', []);
        app.controller('FilesController', function ($scope, $http){
            $scope.files = [];
            $scope.flag = false;
            //$scope.title = new array(); 
            $scope.doSomething = function(requestString){
            $http.get(requestString).then(function (response) {
            //数据源
            $scope.data = response.data.results;
            //分页总数
            $scope.pageSize = 10;
            $scope.pages = Math.ceil($scope.data.length / $scope.pageSize); //分页数
            $scope.newPages = $scope.pages > 10 ? 10 : $scope.pages;
            $scope.pageList = [];
            $scope.selPage = 1;
            //设置表格数据源(分页)
            $scope.setData = function () {
                $scope.items = $scope.data.slice(($scope.pageSize * ($scope.selPage - 1)), ($scope.selPage * $scope.pageSize));//通过当前页数筛选出表格当前显示数据
            }
            $scope.items = $scope.data.slice(0, $scope.pageSize);
            
            //分页要repeat的数组
            for (var i = 0; i < $scope.newPages; i++) {
                $scope.pageList.push(i + 1);
            }
            //打印当前选中页索引
            $scope.selectPage = function (page) {
                //不能小于1大于最大
                if (page < 1 || page > $scope.pages) return;
                //最多显示分页数5
                if (page > 2) {
                    //因为只显示5个页数，大于2页开始分页转换
                    var newpageList = [];
                    for (var i = (page - 3) ; i < ((page + 2) > $scope.pages ? $scope.pages : (page + 2)) ; i++) {
                        newpageList.push(i + 1);
                    }
                    $scope.pageList = newpageList;
                }
                $scope.selPage = page;
                $scope.setData();
                $scope.isActivePage(page);
                console.log("选择的页：" + page);
            };
            //设置当前选中页样式
            $scope.isActivePage = function (page) {
                return $scope.selPage == page;
            };
            //上一页
            $scope.Previous = function () {
                $scope.selectPage($scope.selPage - 1);
            }
            //下一页
            $scope.Next = function () {
                $scope.selectPage($scope.selPage + 1);
            };
        });
            }
            $scope.detail_part1 = function(requestString){
                $http.get(requestString).then(function (response) {
                    $scope.data_detail1 = response.data.results;
                
                
                
                });
                
            
            
            
            
            }
            $scope.doSomething('back.php?category=1');
            /*start billing*/
            
        });          
    })();

</script>
<script>
    $('#myCarousel').carousel({
pause: true,
interval: false
})
</script>
</body>
</html>
